@import "tailwindcss";

body {
  background-color: #e6f2fd;
}

.curved {
  position: absolute;
  background: #0f172a;
  height: 100vh;
  width: 100%;
  top: 0;
  border-bottom-left-radius: 60% 20%;
  border-bottom-right-radius: 60% 20%;
}

@media (max-width: 768px) {
  .curved {
    height: 115vh;
    border-bottom-left-radius: 60% 20%;
    border-bottom-right-radius: 60% 20%;
  }
}